# Can ignore specific files
.gradle
.idea
.settings
bin
build
gen
gradle
local.properties
.classpath
.project
epcc-fall-fest.iml
gradlew
gradlew.bat

# Use wildcards as well
# *~
# *.swp

# Can also ignore all directories and files in a directory.
# tmp/**/* 