.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/backend/build
/app/build
/BaseGameUtils/build
/app/app.iml
/backend/backend.iml
/ScreenShots
/TicketList.txt
/app/app-release.apk
